@import "../../base.scss";

.card {
  height: 300px;
  width: 200px;
  border: 2px solid brown;
  border-radius: 5px;

  .img {
    padding: 5px;
    height: 75%;
    width: 100%;
    object-fit: contain;
    background: brown;
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    .title {
      text-align: center;
    }

    .tagline {
      text-align: center;
    }
  }
}
