//@import "../../base.scss";
@use '../../base';

.content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px;
}

.card {
  width: 280px;
  height: 400px;
}
@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1230px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}
