//@import "../../base.scss";
@use '../../base';

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1230px) {
  .content {
    grid-template-columns: repeat(5, 1fr);
  }
}
