// @import "../../base.scss";
@use '../../base';

.search {
  height: 5vh;
  width: 70%;
  border: 2px solid gray;
  background: gray;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px;
}

.search:focus {
  outline: none;
  border-bottom: 4px solid #11adc2;
}

@media screen and (min-width: 768px) {
  .search {
    width: 40%;
  }
}

@media screen and (min-width: 1230px) {
  .search {
    width: 50%;
  }
}
