@use "../../base.scss";

.cardBack {
  height: 400px;
  width: 280px;
  position: absolute;
  background-color: #11adc2;
  border: 3px solid black;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgba(252, 247, 247, 0.877);
}

.cardBack:hover {
  box-shadow: 8px 8px 16px 8px #888888;
}

.heading {
  font-size: 1.6rem;
  text-decoration: underline;
}

.desc {
  margin: 10px;
  height: 30%;
  overflow-y: scroll;
  font-weight: 600;
  font-size: 1.4rem;
}

.food {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;

  &__heading {
    font-size: 1.4rem;
    text-decoration: underline;
    color: #fff;
  }
}

.back__btn {
  border: 2px solid black;
  background: black;
  color: #fff;
  border-radius: 100px;
  width: 50%;
  padding: 7px;
  font-weight: 500;
}

.back__btn:hover {
  cursor: pointer;
  color: #11adc2;
}
