@import "../../base.scss";

.nav {
  background-color: white;
  height: 10vh;
  max-width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  .checkboxContainer {
    display: flex;

    .checkbox {
      margin: 20px;
      width: 10vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: black;
    }
  }

  .searchContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
