@import "../../base.scss";

.nav {
  background-color: white;
  height: 10vh;
  max-width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}
.checkbox {
  display: flex;

  &__item {
    margin: 20px;
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
  }
}

.searchbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
